@keyframes box {
    0%{
        width: 200px;
        height: 200px;
        left: 0;
        top: 0;
        background-color: red;
        border: 1px solid red;
    }

    25%{
        width: 200px;
        height: 200px;
        left: 400px;
        top: 0;
        background-color: lightcoral;
        border: 1px solid lightcoral;
    }

    50%{
        width: 200px;
        height: 200px;
        left: 400px;
        top: 400px;
        background-color: black;
        border: 1px solid black;
    }

    75%{
        width: 200px;
        height: 200px;
        left:0;
        top: 400px;
        background-color: orange;
        border: 1px solid orange;
    }

    100%{
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
        background-color:red;
    }
}

.box{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    position: relative;
    left: 0;
    animation-name: box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    background-color: aqua;
}